.about {
  display: flex;
  gap: 20px;
  margin-bottom: 50px;

  &__image {
    width: 30%;
    border-radius: 5px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2rem;
    text-align: justify;

    p {
      font-family: 'Josefin Sans', serif;
    }
  }
}

.images {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;

  &__image {
    width: 450px;
    img {
      border-radius: 5px;
      width: 100%;
    }
  }
}
