@import 'styles/variables';
@import 'styles/breakpoints';

$nationals: #fe5200;
$importeds: #ba0101;
$combos: #540804;
$cups: #feca54;

.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
  max-width: 700px;

  @media (min-width: $mobile) and (max-width: $tablet) {
    padding: 50px $horizontal-padding-mobile;
  }

  div {
    margin: 10px;
  }

  &__type {
    align-items: center;
    border-radius: 2px;
    display: flex;
    font-weight: bold;
    height: 40px;
    justify-content: center;
    padding: 10px 30px;

    &__nationals {
      background-color: $nationals;
      color: white;
    }
    &__importeds {
      background-color: $importeds;
      color: white;
    }
    &__combos {
      background-color: $combos;
      color: white;
    }
    &__cups {
      background-color: $cups;
      color: black;
    }
  }

  &__volume,
  &__ibu,
  &__review,
  &__value {
    align-items: center;
    display: flex;
    font-size: 1rem;
    font-weight: bold;
    justify-content: center;
  }

  &__value {
    color: $orange;
    font-size: 1.7rem;
    align-self: baseline;
  }
}
