@import 'styles/variables';
@import 'styles/breakpoints';

$nationals: #f7b538;
$importeds: #780116;
$combos: #d8572a;
$cups: #ea3546;

.item {
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  transition: 0.2s ease-in;
  width: 90%;

  &:hover {
    background-color: $grey;
  }

  &__image {
    min-width: 240px;

    img {
      border-radius: 8px;
      width: 100%;
    }
  }

  &__description {
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 20px;
  }

  &__title {
    h2 {
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 20px;

      @media (min-width: $mobile) and (max-width: $tablet) {
        text-align: center;
      }

      @media (min-width: $tablet) and (max-width: $desktop_xsm) {
        text-align: start;
      }
    }

    p {
      color: $dark-grey;
      font-size: 1.3rem;
      font-weight: 600;
      max-width: 600px;
      margin-bottom: 20px;
    }
  }
}
