@import 'styles/variables';
@import 'styles/breakpoints';

$nationals: #f7b538;
$importeds: #780116;
$combos: #d8572a;
$cups: #ea3546;

.item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;

  &__image {
    min-width: 240px;
    @media (max-width: $desktop_xsm) {
      width: 100%;
    }
    img {
      border-radius: 8px;
      width: 100%;
    }
  }

  &__description {
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 20px;
    @media (max-width: $desktop_xsm) {
      flex-direction: row;
      margin-top: 20px;
      padding: 0;
    }
  }

  &__title {
    h2 {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 20px;
    }
    p {
      color: $dark-grey;
      font-size: 1rem;
      font-weight: 600;
      max-width: 600px;
      margin-bottom: 20px;
    }
  }
}
