@import "styles/variables";

.filters {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  margin: 20px 0;

  &__filter {
    align-items: center;
    background-color: $grey;
    border: none;
    border-radius: 4px;
    display: flex;
    font-size: 1rem;
    font-weight: bold;
    height: 40px;
    justify-content: center;
    width: 150px;

    &--active {
      background-color: $yellow;
      color: white;
    }
    
    &:hover {
      cursor: pointer;
    }
  }
}