$horizontal-padding-mobile: 100px;
$horizontal-padding-sm: 150px;
$horizontal-padding-md: 200px;
$horizontal-padding: 250px;
$dark: #242536;
$dark-grey: #92929d;
$grey: #e4e4e4;
$black: #4c4d5e;
$light-grey: #f6f6f6;
$yellow: #E3BE2C;
$orange: #FC591F;