$horizontal-padding-mobile: 100px;
$horizontal-padding-sm: 150px;
$horizontal-padding-md: 200px;
$horizontal-padding: 250px;
$white: #f6f6f6;
$dark: #242536;
$black: #000000;
$grey: #d3d3d3;
$light-grey: #92929d;
$dark-grey: #4c4d5e;
$yellow: #E3BE2C;
$golden: #D19602;
$orange: #FC591F;
$red-dark: #c62a2a;