@import "./variables";
@import "./breakpoints";


.container {
  padding: 50px $horizontal-padding;
  @media (max-width: $desktop_xsm) {
    padding: 50px $horizontal-padding-mobile;
  }
  @media (min-width: $desktop_xsm) and (max-width: $desktop_sm) {
    padding: 50px $horizontal-padding-sm;
  }
  @media (min-width: $desktop_sm) and (max-width: $desktop_md) {
    padding: 50px $horizontal-padding-md;
  }
}

.title {
  color: $black;
  font-size: 2rem;
  margin-bottom: 30px;
}