@import "styles/variables";
@import "styles/breakpoints";

$nationals: #f7b538;
$importeds: #780116;
$combos: #d8572a;
$cups: #ea3546;

.item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;

  &__image {
    min-width: 240px;
    @media (max-width: $desktop_xsm) {
      width: 100%;
    }
    img {
      border-radius: 8px;
      width: 100%;
    }
  }

  &__description {
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 20px;
    @media (max-width: $desktop_xsm) {
      flex-direction: row;
      margin-top: 20px;
      padding: 0;
    }
  }

  &__title {
    h2 {
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 20px;
    }
    p {
      color: $dark-grey;
      font-size: 1.3rem;
      font-weight: 600;
      max-width: 600px;
      margin-bottom: 20px;
    }
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
    max-width: 700px;
    @media (max-width: $desktop_xsm) {
      justify-content: flex-end;
    }
    @media (max-width: $mobile) {
      justify-content: flex-start;
    }
    > div {
      margin: 10px;
    }
  }

  &__type {
    align-items: center;
    border-radius: 2px;
    display: flex;
    font-weight: bold;
    height: 40px;
    justify-content: center;
    padding: 10px 30px;

    &__nationals {
      background-color: $nationals;
      color: white;
    }
    &__importeds {
      background-color: $importeds;
      color: white;
    }
    &__combos {
      background-color: $combos;
      color: white;
    }
    &__cups {
      background-color: $cups;
      color: white;
    }
  }

  &__volume,
  &__ibu,
  &__review,
  &__value {
    align-items: center;
    display: flex;
    font-size: 1.25rem;
    font-weight: bold;
    justify-content: center;
  }

  &__value {
    color: $orange;
    font-size: 1.7rem;
  }
}