@import 'styles/variables';
@import 'styles/breakpoints';

.back {
  background-color: transparent;
  border: none;
  color: $golden;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-size: 2.5rem;
}

.image {
  width: 450px;
  img {
    border-radius: 8px;
    width: 100%;
  }
}

.content {
  align-items: center;
  display: flex;
  flex-direction: column;

  &__description {
    color: $darkest-grey;
    font-size: 1.2rem;
    font-weight: bold;
  }

  &__details {
    display: flex;
    justify-content: space-between;
  }
}
