@import 'styles/variables';
@import 'styles/breakpoints';

.footer {
  align-items: center;
  text-align: center;
  background-color: $yellow;
  justify-content: space-between;
  display: flex;

  @media (min-width: $mobile) and (max-width: $tablet) {
    display: inline-block;
    padding: 20px $horizontal-padding-mobile;
  }

  @media (min-width: $tablet) and (max-width: $desktop_xsm) {
    padding: 20px $horizontal-padding-tablet;
  }

  @media (min-width: $desktop_xsm) and (max-width: $desktop_sm) {
    padding: 20px $horizontal-padding-sm;
  }

  @media (min-width: $desktop_sm) and (max-width: $desktop_md) {
    padding: 20px $horizontal-padding-md;
  }

  padding: 10px $horizontal-padding;

  &__social_list {
    padding-left: 0;
    margin-left: 0;
    display: flex;
    justify-content: center;
    list-style-type: none;

    li {
      margin: 0 1em;

      svg {
        font-size: 1.5em;
        cursor: pointer;
      }
    }

    &__linkedin {
      color: black;
      &:hover {
        -webkit-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        transition: 0.5s;
        color: #0e76a8;
      }
    }

    &__github {
      color: black;
      &:hover {
        -webkit-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        transition: 0.5s;
        color: #ffff;
      }
    }

    &__discord {
      color: black;
      &:hover {
        -webkit-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        transition: 0.5s;
        color: #5865f2;
      }
    }

    &__gmail {
      color: black;
      &:hover {
        -webkit-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        transition: 0.5s;
        color: #bb001b;
      }
    }
  }

  &__text {
    font-family: 'Josefin Sans', sans-serif;
  }

  &__link {
    list-style-type: none;
    color: black;
    cursor: pointer;
    font-weight: 600;
    text-decoration: none;
    transition: 0.2s ease;
    &:hover {
      color: $white;
    }
  }
}

.icon {
  color: #0e76a8;
  vertical-align: -0.135em;
}
