@import 'styles/variables';
@import "styles/breakpoints";

.products {
  &__filters {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
    width: 100%;
  }
}

