@import 'styles/_variables';

.menu {
  padding: 20px $horizontal-padding;
}

.header {
  align-items: center;
  background-image: url('/assets/menu/header.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  height: 300px;
  padding: 0 $horizontal-padding;
  &__text {
    color: white;
    font-size: 3rem;
    min-width: 400px;
    width: 40%;
  }
}