@import 'styles/variables';
@import "styles/breakpoints";

.menu {
  padding: 20px $horizontal-padding;
  @media (max-width: $desktop_xsm) {
    padding: 20px $horizontal-padding-mobile;
  }
  @media (min-width: $desktop_xsm) and (max-width: $desktop_sm) {
    padding: 20px $horizontal-padding-sm;
  }
  @media (min-width: $desktop_sm) and (max-width: $desktop_md) {
    padding: 20px $horizontal-padding-md;
  }
}

.header {
  align-items: center;
  background-image: url("/assets/menu/header.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  height: 300px;
  padding: 0px $horizontal-padding;
  @media (max-width: $desktop_xsm) {
    padding: 0px $horizontal-padding-mobile;
  }
  @media (min-width: $desktop_xsm) and (max-width: $desktop_sm) {
    padding: 0px $horizontal-padding-sm;
  }
  @media (min-width: $desktop_sm) and (max-width: $desktop_md) {
    padding: 0px $horizontal-padding-md;
  }
  
  &__text {
    color: white;
    font-size: 2.5rem;
    min-width: 400px;
    width: 40%;
  }
}

.search {
  padding: 50px $horizontal-padding;
  @media (max-width: $desktop_xsm) {
    padding: 50px $horizontal-padding-mobile;
  }
  @media (min-width: $desktop_xsm) and (max-width: $desktop_sm) {
    padding: 50px $horizontal-padding-sm;
  }
  @media (min-width: $desktop_sm) and (max-width: $desktop_md) {
    padding: 50px $horizontal-padding-md;
  }
  &__title {
    color: $dark;
    font-size: 1rem;
    margin-bottom: 30px;
  }

  &__filters {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
    width: 100%;
  }
}

