@import 'styles/variables';

.container {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.back {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  button {
    background-color: transparent;
    border: none;
    color: $yellow;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
  }
}
